.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.ql-align-justify {
  text-align: justify;
}
.ql-align-left {
  text-align: left;
}

.ql-size-small {
  font-size: 0.75rem;
}
.ql-size-large {
  font-size: 1.25rem;
}
.ql-size-huge {
  font-size: 1.5rem;
}

.ql-editor img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* Hoặc bạn có thể cho các kiểu align khác nhau tùy theo class */
}

.ql-align-center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ql-align-right img {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.ql-align-left img {
  display: block;
  margin-right: auto;
  margin-left: 0;
}

.ql-editor video {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover; /* hoặc contain tuỳ bạn */
  display: block;
  margin: 1rem 0;
  border: none;
}


.ql-editor iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  display: block;
  margin: 1rem 0;
  border: none;
}