.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.ql-align-justify {
  text-align: justify;
}
.ql-align-left {
  text-align: left;
}

.ql-size-small {
  font-size: 0.75rem;
}
.ql-size-large {
  font-size: 1.25rem;
  font-family: 'Francois One', sans-serif
}
.ql-size-huge {
  font-size: 50px;
}

.ql-editor img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ql-align-center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ql-align-right img {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.ql-align-left img {
  display: block;
  margin-right: auto;
  margin-left: 0;
}

.ql-editor video {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover; 
  display: block;
  margin: 1rem 0;
  border: none;
}


.ql-editor iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  display: block;
  margin: 1rem 0;
  border: none;
}


/* Căn giữa tất cả ảnh */
.ql-editor img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

/* Đảm bảo ảnh bên trong đoạn canh giữa vẫn giữ canh giữa */
.ql-align-center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Nếu bạn muốn ảnh ở left/right khi có align tương ứng */
.ql-align-right img {
  margin-left: auto;
  margin-right: 0;
}
.ql-align-left img {
  margin-left: 0;
  margin-right: auto;
}

.ql-video {
  width: 100%;
  max-width: 100%;  /* Đảm bảo không vượt quá container */
  height: 500px;
  margin: 1rem auto; /* căn giữa block */
  display: block;
  position: relative;
}

.ql-video iframe {
  width: 100% !important;
  height: 200px !important;
  border: none;
  display: block;
  margin: 0 auto;
  object-fit: cover; /* nếu iframe hỗ trợ */
}


